h1 {
    background-color: gold;
    color: rgb(43, 41, 32);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: rgb(38, 41, 41);
    border-width: 3px;
    border-style: solid;
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: block;
}

.recipe-list > li {
    font-size: 20px;
    text-align: center;
    list-style: none;
    padding: 10px;
}

.description, .ingredients, .steps, li {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style-position: inside;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 30%;
 }
 